In [1]:
print("Hello\nWorld")

Hello
World

In [2]:
int(1.0)

1

In [3]:
bool(2)

True

In [4]:
bool(0)

False

In [5]:
name = "Michael Jackson"
name[2:5]

'cha'

In [6]:
name[::2]

'McalJcsn'

In [7]:
firstname = 'hubert'
firstname.find('b')

2

In [8]:
number = '0123456'
number.find('1')

1

In [9]:
firstname[1:]

'ubert'

In [10]:
firstname[:1]

'h'

In [11]:
firstname[1]

'u'

In [12]:
D={'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

In [13]:
A=('a','b','c')
A[:]

('a', 'b', 'c')

In [14]:
L = []

L.append(['a','b'])

In [15]:
L

[['a', 'b']]

In [16]:
A=[3,4,5]

for a in A:

    print(a)

3
4
5

In [17]:
def f(*x):

    return sum(c)

In [19]:
class Programmer(object):
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
Programmer(name = 'hubert', age = 30)

In [20]:
x=1
if(x!=1):

    print('Hello')
else:
    print('Hi')
print('Mike')

Hi
Mike

In [22]:
A=['1','2','3']

for a in A:

    print(2*a)

11
22
33